.unActiveBtn,
.activeBtn,
.loginButton {
  width: 287px;
  height: 38px;
  position: absolute;
  left: 35px;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 8px;
  // color: white;
  // background-color: #b9def7;
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: bold;
}

.unActiveBtn {
  // @include buttonDefault;
  background-color: #b9def7;
  color: white;
}

.activeBtn {
  // @include buttonDefault;
  background-color: #0095f6;
  color: white;
}
